<!doctype html>
<html>
   <head>
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
         new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
         j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
         'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-{{gtm}}');
      </script>
      <!--<script>window.history.replaceState({}, document.title, "/");</script> -->
      <title>{{title}}</title>
      <meta charset="UTF-8">
      <meta name="description" content="{{description}}">
      <meta name="keywords" content="{{keywords}}">
      <meta property="og:title" content="{{title}}" />
      <meta property="og:description" content="{{description}}" />
      <meta property="og:url" content="{{redirect}}" />
      <meta property="og:image" content="{{image}}" />
      <meta property="og:image:alt" content="{{title}}" />
      <link rel="shortcut icon" type="image/png" href="https://i.imgur.com/WMtv5jw.png"/>
      <meta http-equiv="refresh" content="{{t}};url={{redirect_with_parameters}}" />
   </head>
   <body style="background-color: #000000;">
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{gtm}}"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <div style="text-align: center;">
      <!-- <div style="text-align: center; position:fixed; top: 35%; left:50%; display: block; width: 20em; height: 20em; margin-top: -10em; margin-left: -10em;"> -->
         <a href="/"><img src="{{image}}" /></a>
         <!-- <a href="/"><img src="https://i.imgur.com/bk4uDe4.png" /></a> -->
         <p><a style="color: #ffffff; font-family:roboto" href="{{redirect_with_parameters}}">IF YOU ARE NOT REDIRECTED TO YOUR AWESOME CONTENT, CLICK HERE</a></p>
      </div>
   </body>
</html>